<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="eva">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>practica eva</title>
    <script src="../Scripts/angular.min.js"></script>
</head>
<body>
    <div ng-controller="control1">
        <div ng-show="saludar">
            {{ nombre}}
            <h1 ng-bind="nombre"></h1>
        </div>
        

        <label>nombre</label>
        <input type="text" ng-model="nombre" />
        <button ng-click="mostrar()">registrar</button>

    </div>
</body>
</html>
<script>
    angular.module("eva", []).controller("control1", function ($scope) {
        $scope.saludar = false;
        $scope.mostrar = function () {
            $scope.saludar = true;
        }
        $scope.nombre = "";

    });
</script>